.home-menu {
  ul {
    position: absolute;
    bottom: 40%;
    left: 6%;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    width: 20%;
    @media all and (max-width: 650px) {
      top: 6%;
      flex-direction: column;
    }

    a {
      color: $white;
    }

    li:hover {
      background-color: $black;
    }

    li {
      padding: 0.5em 2em;
      background-color: $popColor;
      @media all and (max-width: 650px) {
        padding: 3% 10%;
      }
    }
  }
}

.main-nav {
  ul {
    position: absolute;
    top: 3%;
    left: 4rem;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    width: 20%;
    @media all and (max-width: 650px) {
      top: 3%;
      flex-direction: column;
    }
    a {
      color: $white;
    }

    li:hover {
      background-color: $black;
    }

    li {
      padding: 0.5em 2em;
      background-color: $popColor;
      @media all and (max-width: 650px) {
        padding: 3% 10%;
      }
    }
  }
}

.drop-button {
  background-color: $popColor;
  color: $white;
  padding: 0.5em 2em;
}

.drop-button:hover {
  background-color: $black;
}

.dropdown {
  position: relative;
  display: inline-flex;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 2.35em;
  background-color: $black;
  font-size: 0.85em;
  z-index: 11;
}

.dropdown:hover .dropdown-menu {
  display: inline-flex;
}
