.project-item {
    position: relative;
    overflow: hidden;
    img {
        max-width: 100%;
        display: block;
    }
}

.project-image {
    transition: transform .2s;
}

.project-image:hover {
    transform: scale(1.2);
}

.project-title-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3.75em;
    width: 100%;
    background-color: rgba($black, .5);
    z-index: 15;
}

.project-title-text {
    position: absolute;
    bottom: 30%;
    right: 3%;
    z-index: 12;
    font-weight: bold;
    text-align: right;
    color: $popColor;
    font-size: .95em;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;

}

.project-title-student {
    position: absolute;
    bottom: 5%;
    right: 3%;
    z-index: 12;
    font-size: .7em;
    color: lighten($popColor, 30%);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.project-title-year {
    position: absolute;
    top: 4%;
    right: 3%;
    z-index: 12;
    font-size: .8em;
    font-weight: bold;
    padding: 0;
    color: darken($popColor2, 15%);
}

.project-title-type {
    position: absolute;
    top: 9%;
    right: 3%;
    z-index: 12;
    font-size: .7em;
    text-transform: uppercase;
    padding: 0;
    color: darken($popColor2, 15%);
}
