 .about-main {
	width: 100%;
	height: 30vh;
}

.basic-container {
	margin: 5em 5em 10em 5em;
}

/* FOOTER ----------------------------------------------------------------------------- */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    height: 3em;
    z-index: 13;
    border-top: 1px solid #ffcceb;
}
footer p {
    color: #747474;
    font-size: .75em;
    padding-left: 2em;
    padding-top: 1.3em;
}


/* BACKGROUND SLIDESHOW ----------------------------------------------------------------------------- */
.bg-slideshow,
.bg-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.bg-slideshow:after {
  content: '';
  background-image: url('../images/ampd-logo.svg'), url('../images/dot.png');
  background-repeat: no-repeat, repeat;
  background-position: center, top left;
}

.bg-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 24s linear infinite 0s;
}

.bg-slideshow li:nth-child(1) span {
    background-image: url('../images/AMPD_bk_01.jpg');
}
.bg-slideshow li:nth-child(2) span {
    background-image: url('../images/AMPD_bk_02.jpg');
    animation-delay: 6s;
}
.bg-slideshow li:nth-child(3) span {
    background-image: url('../images/AMPD_bk_03.png');
    animation-delay: 12s;
}
.bg-slideshow li:nth-child(4) span {
    background-image: url('../images/AMPD_bk_04.png');
    animation-delay: 18s;
}




/* PROJECTS ----------------------------------------------------------------------------- */
.auto-grid {
  --auto-grid-min-size: 16rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
}

.wrapper {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 4rem;
}

.project-item {
	position: relative;
	overflow: hidden;
	img {
		max-width: 100%;
		display: block;
	}
}

.project-image {
	transition: transform .2s;
}

.project-image:hover {
	transform: scale(1.2);
}

.project-title-bar {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 3.75em;
	width: 100%;
	background-color: rgba($black, .5);
	z-index: 15;
}

.project-title-text {
	position: absolute;
	bottom: 30%;
	right: 3%;
	z-index: 12;
	font-weight: bold;
  text-align: right;
	color: $popColor;
  font-size: .95em;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;

}

.project-title-student {
	position: absolute;
	bottom: 5%;
	right: 3%;
	z-index: 12;
	font-size: .7em;
	color: lighten($popColor, 30%);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

.project-title-year {
	position: absolute;
	top: 4%;
	right: 3%;
	z-index: 12;
	font-size: .8em;
	font-weight: bold;
	padding: 0;
	color: darken($popColor2, 15%);
}

.project-title-intro {
    background-color: darken($popColor2, 15%);
    min-height: 15rem;
    h1 {
      margin: 0 4%;
      font-size: 1.65em;
      font-weight: 500;
      color: lighten($mainTextColor, 35%);
    }
    p {
      margin: 0 5%;
      font-size: .9em;
      font-family: $mainFont;
      color: lighten($mainTextColor, 35%);
    }
}

.fade-in {
  opacity: 0;
  transition: opacity .2s;
  h3 {
    font-size: 1em;
  }
}

.fade-in:hover {
  opacity: 1;
}

@media all and (min-width: 575px) {
  .project-title-intro {
    grid-column: span 2;
  }
}

/* VIDEOS ------------------------------------------------------------------------------- */
video {
	display: block;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
}

/* ANIMATIONS ----------------------------------------------------------------------------- */
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out; }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
