$popColor				: #ff009c;
$popColor2				: #15FF00;
$black				  	: #000000;
$white				  	: #ffffff;
$mainTextColor		    : #a4a4a4;
$gray                   : #747474;

/* COLORING -------------------------------------------------------------------------------*/
body {
    background-color: black;
	color: $mainTextColor;
}

.about-main {
	background-color: $popColor;
}
