$popColor: #ff009c;
$popColor2: #15ff00;
$black: #000000;
$white: #ffffff;
$mainTextColor: #a4a4a4;
$gray: #747474;

/* COLORING -------------------------------------------------------------------------------*/
body {
  background-color: $black;
  color: $mainTextColor;
}

a {
  color: lighten($popColor, 30%);
}

a:hover {
  text-decoration: underline;
}

.about-main {
  background-color: $popColor;
}

hr {
  border: 1px solid lighten($popColor, 30%);
}
