@import url("https://fonts.googleapis.com/css?family=Lato:400,900|Montserrat:400,500");

$mainFont: "Lato", sans-serif;
$headingFont: "Montserrat", sans-serif;

/* TYPOGRAPHY ----------------------------------------------------------------------------- */
html,
body {
  font-family: $mainFont;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
  padding-top: 0.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

em {
  font-style: italic;
}

p {
  padding-top: 0.5em;
}

strong {
  font-weight: bold !important;
}
