<div class="people-item">
  <div class="profile-pic">
    <perch:if exists="staffImage">
      <img src="<perch:content
        id="staffImage"
        type="image"
        label="Staff Image"
      />" alt="<perch:content id="staffalt" type="text" label="Alt text" />" />
    </perch:if>
  </div>
  <div>
    <h2>
      <perch:content
        id="staffName"
        label="Full Name"
        title="true"
        required="true"
      />
    </h2>
    <h3><perch:content id="staffTitle" label="Title" required="true" /></h3>
    <perch:content
      id="staffBio"
      type="textarea"
      label="Bio"
      markdown="true"
      editor="simplemde"
      required="true"
    />
  </div>
</div>
