<perch:before>
<div class="auto-grid">
	<div class="project-item project-title-intro">
		<h1><perch:gallery id="albumTitle" /></h1>
		<perch:gallery id="description" type="textarea" markdown />
	</div>
</perch:before>
	<div class="project-item">
		<a href="<perch:gallery id="main"  />">
			<img src="<perch:gallery id="square" />" />
			<div class="project-title-bar fade-in">
				<h3 class="project-title-text"><perch:gallery id="imageAlt" </h3>
			</div>
		</a>
	</div>
<perch:after>
</div>
</perch:after>
